<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
<<<<<<< HEAD
      <%= link_to "twitter", root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Домашняя",    root_path %></li>
          <li><%= link_to "Помощь",    help_path %></li>
          <li><%= link_to "Войти", '#' %></li>
=======
      <%= link_to "sample app", '#', id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Home",   root_path  %></li>
          <li><%= link_to "Help",    help_path %></li>
          <li><%= link_to "Sign in", signin_path %></li>
>>>>>>> filling-in-layout
        </ul>
      </nav>
    </div>
  </div>
</header>